@page
@model LibraryProject_Razor.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Books";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Books</h2>
    </div>
    <div class="col-3">
    </div>
</div>

<div class="col-12 p-3 mt-3">
    <form method="post">
        @if (Model.Books.Count() > 0)
        {
            <table class="table table-striped border" id="myTable">
                <thead>
                    <tr class="table-secondary">
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Type</th>
                        <th>ISBN</th>
                        <th>Category</th>
                        <th>Available Copies</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Books)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@($"{item.FirstName} {item.LastName}")</td>
                            <td>@item.Type</td>
                            <td>@item.Isbn</td>
                            <td>@item.Category</td>
                            <td>@($"{item.CopiesInUse}/{item.TotalCopies}")</td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.BookId" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No books available</p>
        }
    </form>
</div>
